*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
body{
    background: url('./gbs2.jpg') no-repeat;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
}

